a,
a:hover {
  text-decoration: none;
  color: #333;
}
body {
  height: 2600px;
}
ul,
ol {
  list-style: none;
}
.wjs-header {
  border-bottom: 1px solid #ccc;
}
.wjs-header .container .row > div {
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-right: 1px solid #ccc;
}
.wjs-header .container .row > div .riginer {
  color: #fff;
  padding: 2px 13px;
  margin-right: 15px;
}
.wjs-header .container .row > div a {
  color: #333;
}
.wjs-header .container .row > div:last-child {
  border-right: none;
}
.wjs-nav .logo {
  font-size: 50px;
  vertical-align: middle;
  color: red;
}
.wjs-nav .word {
  font-size: 36px;
  vertical-align: middle;
  color: #333333;
}
.wjs-nav .wjs-navbar {
  border-color: #e7e7e7;
  margin-bottom: 0px;
}
.wjs-nav .wjs-navbar .navbar-brand {
  height: 80px;
  line-height: 50px;
}
.wjs-nav .wjs-navbar .navbar-brand:hover,
.wjs-nav .wjs-navbar .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.wjs-nav .wjs-navbar .navbar-text {
  color: #777;
}
.wjs-nav .wjs-navbar .navbar-nav > li > a {
  height: 80px;
  line-height: 50px;
  color: #777;
}
.wjs-nav .wjs-navbar .navbar-nav > li > a:hover,
.wjs-nav .wjs-navbar .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 2px solid red;
}
.wjs-nav .wjs-navbar .navbar-nav > .active > a,
.wjs-nav .wjs-navbar .navbar-nav > .active > a:hover,
.wjs-nav .wjs-navbar .navbar-nav > .active > a:focus {
  color: #555;
}
.wjs-nav .wjs-navbar .navbar-nav > .disabled > a,
.wjs-nav .wjs-navbar .navbar-nav > .disabled > a:hover,
.wjs-nav .wjs-navbar .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.wjs-nav .wjs-navbar .navbar-toggle {
  margin-top: 23px;
  border-color: #ddd;
}
.wjs-nav .wjs-navbar .navbar-toggle:hover,
.wjs-nav .wjs-navbar .navbar-toggle:focus {
  background-color: #ddd;
}
.wjs-nav .wjs-navbar .navbar-toggle .icon-bar {
  background-color: #888;
}
@media screen and (max-width: 768px) {
  .wjs-nav .wjs-navbar .navbar-brand {
    height: 50px;
    line-height: 20px;
  }
  .wjs-nav .wjs-navbar .navbar-toggle {
    margin-top: 8px;
    border-color: #ddd;
  }
  .wjs-nav .wjs-navbar .navbar-nav > li > a {
    height: 50px;
    line-height: 20px;
    color: #777;
  }
}
.wjs-banner .pc-img {
  height: 410px;
  background-position: center;
}
.wjs-banner .m-img {
  width: 100%;
}
.wjs-save {
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
.wjs-save .container .row {
  margin-top: 30px;
}
.wjs-save .container .row > div {
  margin-bottom: 15px;
}
.wjs-save .container .row > div span {
  font-size: 30px;
}
.wjs-save .container .row .in {
  height: 50px;
}
@media screen and (min-width: 1200px) {
  .wjs-save .container {
    width: 970px;
  }
}
.wjs-book {
  border-bottom: 1px solid #ccc;
}
.wjs-book .container {
  padding: 34px 0 ;
}
.wjs-book .container p {
  margin-bottom: 0px;
}
.wjs-book .container .co {
  font-size: 26px;
  margin-right: 10px;
}
.wjs-book .container .book {
  color: red;
  border-bottom: 1px dashed red !important;
}
.wjs-tabs {
  padding-bottom: 30px;
  padding: 30px 0;
  background-color: #e1e1e1;
  margin-bottom: 20px;
}
.wjs-tabs .cut {
  overflow: auto;
}
.wjs-tabs .cut .wjs-nav-tabs > li {
  float: left;
}
.wjs-tabs .cut .wjs-nav-tabs > li > a {
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}
.wjs-tabs .cut .wjs-nav-tabs > li > a:hover {
  border-bottom: 2px solid red;
  background-color: transparent;
}
.wjs-tabs .cut .wjs-nav-tabs > li.active > a,
.wjs-tabs .cut .wjs-nav-tabs > li.active > a:hover,
.wjs-tabs .cut .wjs-nav-tabs > li.active > a:focus {
  border-bottom: 2px solid red;
  background-color: transparent;
}
.wjs-tabs .r {
  height: 150px;
}
.wjs-tabs .r .in {
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  height: 150px;
  background-color: red;
  color: #fff;
}
.wjs-tabs .r .in .ri {
  width: 70%;
  margin-top: 16px;
  text-align: center;
}
.wjs-tabs .r .in .ri p {
  margin: 0;
}
.wjs-tabs .r .in .ri .let {
  padding-left: 10px;
  line-height: 20px;
  text-align: left;
}
.wjs-tabs .r .in .ri .rig {
  text-align: right;
  line-height: 20px;
}
.wjs-tabs .r .liv {
  position: relative;
  width: 80px;
  height: 100%;
  padding-top: 40px;
  text-align: center;
  border-left: 1px dashed #fff;
}
.wjs-tabs .r .liv p {
  margin: 10px;
}
.wjs-tabs .r .liv .big {
  font-size: 30px;
}
.wjs-tabs .r .liv::before,
.wjs-tabs .r .liv::after {
  top: -7px;
  left: -7px;
  position: absolute;
  content: "";
  display: block;
  background-color: #eee;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.wjs-tabs .r .liv::after {
  top: auto;
  bottom: -26px;
}
.wjs-tabs .in::before {
  position: absolute;
  top: -7px;
  left: 0px;
  width: 40px;
  height: 40px;
  content: "\e915";
  font-family: "wjs_fonts";
  font-size: 36px;
  display: block;
  color: #fff;
}
.wjs-news {
  border-bottom: 1px solid #ccc;
}
.wjs-news .wjs-news-tabs ul {
  border: none;
}
.wjs-news .wjs-news-tabs > li {
  float: left;
}
.wjs-news .wjs-news-tabs > li > a {
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 40px;
  background-color: #ccc;
  margin-top: 40px;
  border-radius: 50%;
  font-size: 30px;
  padding: 10px 15px;
}
.wjs-news .wjs-news-tabs > li > a:hover {
  background-color: red;
  color: #fff;
}
.wjs-news .wjs-news-tabs > li.active > a,
.wjs-news .wjs-news-tabs > li.active > a:hover,
.wjs-news .wjs-news-tabs > li.active > a:focus {
  color: #fff;
  background-color: red;
  border-bottom-color: transparent;
}
.wjs-news h4 {
  margin-top: 35px;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.wjs-news h4::after {
  position: absolute;
  bottom: -5px;
  right: -9px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  display: block;
  border: 1px solid #ccc;
}
.wjs-news #new1 {
  margin-top: 30px;
}
.wjs-news #new1 ul li {
  line-height: 40px;
}
@media screen and (max-width: 992px) {
  .tt ul > li {
    float: left;
    width: 25%;
  }
  .td ul {
    margin-left: 0px;
  }
  .td ul li {
    margin-bottom: 20px;
  }
}
.wjs-foot h1 {
  text-align: center;
}
.wjs-foot ul {
  padding-left: 130px;
}
.wjs-foot ul > li {
  margin: 0 20px;
  float: left;
  font-size: 60px;
}
